/* Estilos para o formulário */
/* Estilos gerais */
body::before {
  content: "";
  position: fixed;
  top: -50px;
  left: 0;
  z-index: -1;
  background-size: cover;
  opacity: 0.8;
  transition: opacity 0.3s ease;

}

body.sala-info-visible::before {
  opacity: 0.2;
}

body {
  background-image: url("/imagens/Fundo-para-reuniões-Teams---azul---corrigido.png");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;  
}

header {
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 20px;
  text-align: center;

}

header h1 {
  color: #f9f9f9;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  
}
/* Estilos para o link "Adicionar Programas" */
header a {
  text-decoration: none; /* Remove o sublinhado */
  color: #f1eded; /* Cor do texto */
  font-weight: bold; /* Deixa o texto em negrito */
  margin-right: 20px; /* Adiciona um espaçamento à direita */
  display: flex; /* Usa flexbox para alinhar os itens */
  align-items:flex-start;
  padding: 5px;
}
/* Estilos para a div contendo os links */
.hiperlink-programas {
  display: flex; /* Usa flexbox para alinhar os itens */
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: space-around;
}

/* Estilos para cada link dentro da div */
.hiperlink-programas a {
  text-decoration: none; /* Remove o sublinhado */
  color: #f7f4f4; /* Cor do texto */
  font-weight: bold; /* Deixa o texto em negrito */
  margin-right: 20px; /* Adiciona um espaçamento à direita */
}

/* Estilos para a lista de IDs */
#idList {
  float: left;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 450px;
}

/* Estilos para os itens da lista */
#idList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#idList li {
  margin-bottom: 5px;
}

/* Estilos para o container dos formulários */
.form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Estilos para o formulário */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  
  flex-basis: calc(33.33% - 10px);
  /* Você pode ajustar esse valor conforme necessário para o espaçamento desejado */
  margin-bottom: 20px;
}

fieldset {
  border: none;
  /* Remove a borda */
  padding: 0;
  /* Remove o preenchimento padrão */
  margin: 0;
  /* Remove a margem padrão */
}

/* Estilos para os rótulos */
label {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  width: auto;
}

/* Estilos para os campos de entrada */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para o botão de envio */
button[type="submit"] {
  background-color: #0948f7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


/* Estilos para o botão de envio ao passar o mouse */
button[type="submit"]:hover {
  background-color: #051392;

}

/* Estilos para o botão de envio */
button-excluir {
  background-color: #0948f7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para o botão "Adicionar Sala" */
.adicionar-sala-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  /* Ajuste conforme necessário */
}

/* Estilos para o botão "Adicionar Sala" ao passar o mouse */
.adicionar-sala-button:hover {
  background-color: #45a049;
}

/* Estilos para o botão de envio ao passar o mouse */
button-excluir:hover {
  background-color: #45a049;
}

/* Estilos para o elemento unidades-salas */
#unidades-salas {
  background-color: rgba(249, 249, 249, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 150px;
  max-width: 90%;
  margin: 150px auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
/* nao tem classe ainda */
.unidade-sala {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.informacao-sala {
  text-align: center;
  margin: 20px 0;
}

.imagem-informativa {
  max-width: 20%;
  height: 50.02px;
}
/* Estilos para o footer */
footer {
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;  
  padding: 10px;
  text-align: center;
  
}